* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
=======
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
>>>>>>> parent of 0f30c1d... Albums
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}

button,
h2 {
  display: inline-block;
}

h2 {
  color: #243d6f;
  font-size: 18px;
}

h3 {
  color: #9eabc2;
  text-transform: uppercase;
  font-size: 13px;
}

a {
  display: block;
  color: rgba(36, 61, 111, 1);
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
}

a:hover {
  color: rgba(36, 61, 111, 1);
}

b {
  color: #abb4c8;
  font-weight: 500;
  font-size: 12px;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 32px #c3cbfe;
}

button {
  cursor: pointer;
}

.btn {
  padding: 8px 16px;
  outline: inherit;
  border-radius: 24px;
  background-image: linear-gradient(to right bottom, #667aff, #6b74f9, #706ef3, #7467ed, #7861e7);
  box-shadow: 0 0 16px #c3cbfe;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.styleguide h2,
.styleguide a,
.styleguide b,
.styleguide h3 {
  display: block;
  padding-top: inherit;
}

.styleguide {
  padding-top: 20px;
  padding-left: 20px;
  height: 400px;
  background-color: aliceblue;
}

main {
  display: flex;
  min-width: 800px;
  width: 100%;
  height: 100vh;
}

/* - Сайдбар Начало */

.sidebar {
<<<<<<< HEAD
    position: fixed;
    width: 232px;
    height: 100vh;
    background-color: aliceblue;
    z-index: 1;
    =======position: fixed;
    width: 232px;
    height: 100vh;
    background-color: aliceblue;
=======
  position: fixed;
  width: 232px;
  height: 100vh;
  background-color: aliceblue;
>>>>>>> parent of 0f30c1d... Albums
}

.sidebar h3 {
  margin-bottom: 24px;
  padding-left: 32px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  padding-left: 32px;
  height: 40px;
  line-height: 32px;
  opacity: 0.5;
  transition: all 0.2s;

  align-items: center;
}

.sidebar a:hover {
  background-color: rgba(220, 235, 248, 0.5);
}

.sidebar a:hover li {
  margin-left: 4px;
  opacity: 1;
}

.sidebar-menu li::before {
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  content: "";
}

.sidebar-menu a:nth-child(1) li::before {
  background-image: url(../img/search-icon.svg);
}

.sidebar-menu a:nth-child(2) li::before {
  background-image: url(../img/genres-icon.svg);
}

.sidebar-menu a:nth-child(3) li::before {
  background-image: url(../img/radio-icon.svg);
}

.sidebar-menu a:nth-child(4) li::before {
  background-image: url(../img/artist-icon.svg);
}

.sidebar-menu a:nth-child(5) li::before {
  background-image: url(../img/albums-icon.svg);
}

.sidebar-menu a:nth-child(6) li::before {
  background-image: url(../img/settings-icon.svg);
}

.sidebar a.active li {
  border-left: 4px solid #243d6f;
  background-color: #dcebf8;
  color: #243d6f;
  opacity: 1;
}

.sidebar a.active:hover li {
  margin-left: 0;
  opacity: 1;
}

.sidebar-menu {
  margin-top: 132px;
}

.sidebar-playlist {
  margin-top: 64px;
}

/* - Сайдбар Конец */

.main {
  margin-left: 232px;
  width: 100%;
}

/* - Навигация Начало */

header {
  display: flex;
  padding: 0 56px;
  height: 80px;
  background-color: #FFFFFF;

  align-items: center;
  justify-content: space-between;
}

/* - - Поиск Начало */

.search {
  display: flex;

  align-items: center;
}

.search button {
  display: inline-block;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  background-image: url(../img/search-icon.svg);
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  opacity: 1;
}

.search button:hover {
  opacity: 0.7;
}

.search input {
<<<<<<< HEAD
    padding: 16px 16px 16px 8px;
    width: 208px;
    color: #566686;
    font-weight: 500;
    font-size: 12px;
    transition: all 1s;
=======
  padding: 16px 16px 16px 8px;
  width: 208px;
  color: #566686;
  font-weight: 500;
  font-size: 12px;
  transition: all 1s;
>>>>>>> parent of 0f30c1d... Albums
}

.search input:focus {
  background-color: aliceblue;
}

.search input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a7b1c5;
  font-weight: 500;
  font-size: 11px;
}

.search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #a7b1c5;
  font-weight: 500;
  font-size: 11px;
}

.search input:-ms-input-placeholder {
  /* IE 10+ */
  color: #a7b1c5;
  font-weight: 500;
  font-size: 11px;
}

.search input:-moz-placeholder {
  /* Firefox 18- */
  color: #a7b1c5;
  font-weight: 500;
  font-size: 11px;
}

/* Поиск Конец */

.user-block {
  display: flex;

  align-items: center;
}

.user-block__notification {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  width: 32px;
  height: 32px;
  background-image: url(../img/notification-icon.svg);
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}

.quantity {
  position: absolute;
  top: 2px;
  left: 7px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fa2d66;
  color: #FFF;
  text-align: center;
  font-size: 8px;
  line-height: 12px;
}

.user-block__user-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 32px rgba(174, 178, 204, 0.5);
  transition: all 0.5s;
}

.user-block__user-img:hover {
<<<<<<< HEAD
    padding-top: 8px;
    box-shadow: 0 10px 32px rgba(174, 178, 204, 0.7);
}

.albums {
    margin-top: 48px;
    padding: 0 56px;
}

.album-list {
    display: flex;
    margin-top: 32px;
    padding-bottom: 88px;
    list-style: none;
    overflow: hidden;
}

.album-item {
    position: relative;
    margin-left: 16px;
    min-width: 160px;
    min-height: 160px;
    border-radius: 4px;
    background-color: antiquewhite;
    text-align: left;
    cursor: pointer;
}

.album-item:hover {
    box-shadow: 0 0 40px rgba(174, 178, 204, 0.5);
}

li.album-item:nth-child(1) {
    margin-left: 0;
    background-image: url(../img/album-1.jpg);
    background-size: cover;
}

li.album-item:nth-child(2) {
    background-image: url(../img/album-2.jpg);
    background-size: cover;
}

li.album-item:nth-child(3) {
    background-image: url(../img/album-3.jpg);
    background-size: cover;
}

li.album-item:nth-child(4) {
    background-image: url(../img/album-4.jpg);
    background-size: cover;
}

li.album-item:nth-child(5) {
    background-image: url(../img/album-5.jpg);
    background-size: cover;
}

li.album-item:nth-child(6) {
    background-image: url(../img/album-6.jpg);
    background-size: cover;
}

.album-item b {
    position: absolute;
    bottom: -110px;
    left: 50%;
    display: block;
    margin-left: -50%;
    width: 100%;
    height: 100px;
    font-weight: 300;
    font-size: 11px;
}

.name {
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
}

.change-music {
    display: flex;
    padding: 0 56px;
    width: 100%;
}

.change-music h2 {
    margin-bottom: 32px;
}

.daily-mix {
    width: 50%;
}

.song-item {
    display: flex;
    margin: 8px 0;
    padding-left: 4px;
    height: 40px;
    background-color: aqua;

    align-items: center;
}

li.song-item:first-child {
    margin-top: 0;
}

.song-item img {
    margin-right: 8px;
    border-radius: 4px;
}

.song-item .name {
    width: 128px;
    margin-top: 48px;
    padding: 0 56px;
=======
  padding-top: 8px;
  box-shadow: 0 10px 32px rgba(174, 178, 204, 0.7);
}

.albums {
  margin-top: 48px;
  padding: 0 56px;
>>>>>>> parent of 0f30c1d... Albums
}

.player {
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100% - 232px);
  height: 104px;
  background-color: rgba(240, 248, 255, 0.5);
}
